.geocode-result {
  cursor: pointer;
  padding: 0.2em 0.5em;
  border-radius: 5px;
}

.geocode-result .label {
  color: rgba(0, 0, 0, 0.6);
}

.selected {
  background-color: #FFDC03;
}

.geocode-result:hover {
  background-color: #E5C603;
}

.geocode-result:before {
	content: '▶';
	left: 0;
  margin-top: 5px;
  padding-right: 5px;
}
