.container {
  width: 100%;
  /*max-width: 1600px;*/
  overflow-y: auto;
  /*margin: 0 auto;*/
  padding-top: 1em;
  box-sizing: border-box;
  font-family: monospace;
  display: flex;
  justify-content: center;
}

.container > * {
  padding: 1em;
  margin-bottom: 2em;
  width: 45%;
  max-width: 800px;
}

.title {
  text-align: center;
  font-style: italic;
  margin-bottom: 0.5em;
}

.title:before {
  content: '“… ';
  }

.title:after {
  content: ' …”';
}

.iframe-container {
  height: 80px;
}

.iframe-container iframe {
  width: 100%;
  height: 100%;
}

.button-yes {
  background-color: #007F19;
}

.button-no {
  background-color: #FF0900;
}

.button-skip {
  background-color: #aaa;
}

.button-reset {
  background-color: #007FFF;
}
